body {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif;
}

/* --------- NAVBAR --------- */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NavBar {
    height: 20px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.NavLink {
    text-decoration: none;
    color: #777;
    margin: 20px;
}

.NavLink:hover, .NavLink:active {
    color: #673ab7;
    border-bottom-color: #673ab7;
  }



/* --------- MESSAGELIST --------- */

/* .container .message-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.message-card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

  .message-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  } */

/* .container {
	max-width: 1100px;
	margin: 0 auto;
} */

.message-board-page {
    padding: 60px 15px 0;
}

.message-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	box-sizing: border-box;
}

.message-card {
    display: flex;
    flex-direction: column;
	position: relative;
	margin: 5px; 
    padding: 10px 15px; 
    width: 200px;
    height: 150px;
    background: #EEF0FC;
	color: #363636;
	text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #DDE2FA;
    border-radius: 4px;
    overflow: hidden;
}

.message-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.message-card-header {
    color: #8447C3;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #B28CD9;
    /* background-color: #C1A3E1; */
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.message-card-main {
    display: flex;              
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 15px 0;
  }