body {
    background: #f5f7f8;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

/* --------- NAVBAR --------- */

.NavBar {
    background: #fdfdfd;
    height: 20px;
    width: 100%;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.NavLink {
    text-decoration: none;
    color: #777;
    margin: 0 20px;
}

.NavLink:hover, .NavLink:active, .NavLink.active {
    color: #673ab7;
    border-bottom-color: #673ab7;
  }



/* --------- MESSAGES LIST --------- */


.message-board-page, .single-message-page {
    padding: 20px 35px 0;
}

.message-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	box-sizing: border-box;
}

.message-card {
    display: flex;
    flex-direction: column;
	position: relative;
	margin: 5px; 
    padding: 10px 15px; 
    width: 230px;
    height: 170px;
    background: #EEF0FC;
	color: #4a4a4a;
	text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #DDE2FA;
    border-radius: 4px;
    overflow: hidden;
}

.message-card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.message-card-header {
    color: #8447C3;
    text-align: center;
    font-size: 12px;
    font-weight: 450;
    border-bottom: 1px solid #B28CD9;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.message-card-main {
    display: flex;              
    flex-direction: column; 
    justify-content: top;
    align-items: center; 
    padding: 15px 5px 20px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    letter-spacing: 0.0625em;
    font-size: 16px;
  }

a {
    text-decoration: none;
}  


/* --------- MESSAGE SHOW --------- */

.single-message-page {
    display: flex;
    justify-content: center;
}

.message-card-fullpage {
    width: 550px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.message-card-fullpage > .message-card-main {
    margin: auto 40px;
    line-height: 1.4em;
}

/* disable hover for full page card */
.message-card-fullpage:hover {
    top: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* --------- NEW MESSAGE --------- */

.new-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.new-sender, .new-recipient, .new-content, .new-message-button, .new-message-header {
    display: flex;              
    flex-direction: column; 
    padding: 8px 16px;
    border: none;
    letter-spacing: .09em;
    border-radius: 2px;
    width: 400px;
    justify-content: top;
    margin: 10px auto;
}

.new-content {
    height: 150px;
    word-wrap: break-word;
}

input:focus {
    outline: none;
}

.new-message-button {
    padding: 5px 15px;
    margin: auto;
    width: 120px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.new-message-button:hover {
    top: -1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}